*.key
*.yaml
*/*.7z
*/*.apk
*/*.asc
*/*.cer
*/*.crt
*/*.csr
*/*.db
*/*.db3
*/*.der
*/*.dll
*/*.dmg
*/*.dylib
*/*.egg
*/*.egg-info
*/*.exe
*/*.gpg
*/*.ipa
*/*.iso
*/*.jks
*/*.json
*/*.kdbx
*/*.keytab
*/*.log
*/*.p12
*/*.p7b
*/*.p7c
*/*.pcap
*/*.pcapng
*/*.pcapng.gz
*/*.pem
*/*.pfx
*/*.pgp
*/*.rar
*/*.so
*/*.sops.yaml
*/*.sops.yml
*/*.sqlite
*/*.sqlite3
*/*.tar.gz
*/*.tgz
*/*.whl
*/*.zip
*/password.txt 
*secret*
.idea/
id_rsa*
venv/
client/web/apps/.service/*/*
client/web/apps/.service/*/*/*
*/*.storage
*/*.log
*/*.table
*/*.bak
*/*.pyc